# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
# .build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
# /build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Widget Preview related
.widget_preview/
.metadata
.vercel
.env*
build/11d39eead54f17c71c6d241c02482abe.cache.dill.track.dill
build/b0ad9417408001559a283da718f2c93d.cache.dill.track.dill
build/1f87a1fbe72afc46ac7d07d2c84e1d2e/_composite.stamp
build/1f87a1fbe72afc46ac7d07d2c84e1d2e/gen_dart_plugin_registrant.stamp
build/1f87a1fbe72afc46ac7d07d2c84e1d2e/gen_localizations.stamp
build/4ba41e341b078c00cbaff15afa2ce825/_composite.stamp
build/4ba41e341b078c00cbaff15afa2ce825/gen_dart_plugin_registrant.stamp
build/4ba41e341b078c00cbaff15afa2ce825/gen_localizations.stamp
build/flutter_assets/AssetManifest.bin
build/flutter_assets/NOTICES
build/flutter_assets/shaders/ink_sparkle.frag
build/flutter_assets/shaders/stretch_effect.frag
build/web/.last_build_id
